button {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  button:hover{
    background-color:#aaa;
    color:black;
  }

  #center{
    display:flex;
    justify-content:center;

  }
  ul{
    
  }
  li:hover{
cursor:pointer
  }
