button {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    width:100%;
  }

  button:hover{
    background-color:#aaa;
    color:black;
  }

  #center{
    display:flex;
    justify-content:center;
    text-align: center;
     
  }
  body{
    background-image:url('Background.jpg');
    background-repeat:no-repeat;
    background-size:cover
  }

  div{
    border:2px solid red;
  }